.container {
    min-height: 100vh;
    background-color: #fff;
    padding-top: 1rem; 
}

.content {
    max-width: 70%;
    margin: 0 auto; 
}
  
.section {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid  var(--clr-grey-10);
    border-radius: 3px;
    padding: 1rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.section p {
    color: var(--clr-black);
}

.section .simple {
    margin-bottom: 0px;
}

.section ul {
    margin-top: 1rem;
}

.bold {
  font-weight: 600; 
  color: var(--clr-black);
  margin-right: .5rem;
}

.section li {
    list-style-type: disc;
    margin-left: 1rem;
}
.content {
   padding: 2rem; 
}

.summary {
     width: 100%;
     margin-bottom: 2rem;
     color: var(--clr-red-dark);
}

.summary h4 {
  text-transform: none;
  line-height: 145%;
  text-align: center;
}

@media screen and (max-width: 800px) {
    .content {
       max-width: none;
       width: 100%;
       padding-left : 1rem; 
       padding-right: 1rem;
    }
    .section {
        margin-bottom: 2rem;
    }    
}

