.container {
    height: 100vh;
    padding-top: 1rem; 
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem; 
    position: relative;
    z-index: var(--z-index-lower);
}

.content {
    border: 1px solid var(--clr-grey-10);
    border-radius: .3rem; 
    padding: 1rem; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 40%; 
    transform: translate(-50%, -50%);
    width: 60%;
}

.content p {
    line-height: 175%;
}

.summary { 
    text-transform: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: var(--clr-red-dark);
}

.bold {
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .content {
        border: none; 
        width: 100%; 
    }
    
    .content h4 {
         text-align: center; 
         line-height: 145%;
    }
    .content p {
        line-height: 145%;
        text-align: justify;  
    }
}
