.footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}

.footer h4 {
  color: var(--clr-white);
}

.content {
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
}

.footer p {
  color: var(--clr-white);
  text-transform: capitalize;
 
  margin-bottom: 0;
}

.copyright {
   margin-top: 2rem; 
   text-align: center; 
   color: var(--clr-dark-red); 
   padding: 1rem; 
}

