.footer {
  background: var(--clr-grey-1);
  padding: 3rem 1rem;
}

.footer h4 {
  color: var(--clr-white);
}

.content {
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
}

.footer p {
  color: var(--clr-white);
  margin-bottom: 0;
}

.footer a {
  text-decoration: underline;
  color: var(--clr-red-light);
  margin-top: 1rem;
  display: block;
  cursor: pointer;
}

.copyright {
   margin-top: 2rem; 
   text-align: center; 
   padding: 1rem; 
}

 