.footer {
  background: var(--clr-grey-1);
  padding: 3rem 1rem;
}

.footer h4 {
  color: var(--clr-white);
}

.content {
   display: flex; 
   flex-direction: row;
   justify-content: space-around;
}

.footer p {
  color: var(--clr-white);
  text-transform: capitalize;
  margin-bottom: 0;
}

.footer a {
  text-decoration: underline;
  color: var(--clr-red-light);
  margin-top: 1rem;
  display: block;
  cursor: pointer;
}

.copyright {
   margin-top: 2rem; 
   text-align: center; 
   padding: 1rem; 
}

.messageFormWrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: var(--clr-white);
}

.messageForm {
   position: fixed; 
   top: 50%;
   left: 50%;
   transform:  translate(-50%, -50%);
   display: flex; 
   justify-content: space-around;
   flex-direction: column; 
   background-color: var(--clr-white);
   height: 60vh; 
   width: 60%;
   border: 1px solid var(--clr-grey-7);
   border-radius: .3rem; 
   padding: 2rem; 
   box-shadow: var(--dark-shadow);
   padding-top: 4rem; 
}

.formTitle{
   position: absolute; 
   left: 0; 
   top: 0;
   width: 100%;
   background-color: var(--clr-grey-5);
   color: var(--clr-white);
   font-weight: 600; 
   padding: .5rem; 
   text-align: center; 
}
.messageForm input {
   padding: .5rem; 
   border-radius: .2rem; 
   border: 1px solid;
   max-width: 20rem;
   font-size: 1rem; 
   outline: none;
}

.messageForm textarea {
  padding: .5rem; 
  border-radius: .2rem; 
  font-size: 1rem; 
  border: 1px solid;
  outline: none; 
}
.messageForm .buttons {
   display: flex; 
   flex-direction: row;
   justify-content: flex-end; 
}

.messageForm button {
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem; 
  cursor: pointer;
  border-radius: 0.3rem;
  margin-left: 1rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-red-light);
  color: var(--clr-red-light);
  width: 7rem;
}

.errorMessage {
   color: var(--clr-red-light) !important;
   text-transform: none !important;
}

.success {
   height: 60%;
   display: flex; 
   flex-direction: column; 
   justify-content: space-around;
   align-items: center;
}
.success h4 {
   color: var(--clr-grey-1);
}

.success button {
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem; 
    cursor: pointer;
    border-radius: 0.3rem;
    margin-left: 1rem;
    background-color: var(--clr-white);
    border: 1px solid var(--clr-red-light);
    color: var(--clr-red-light);
    width: 7rem; 
}

@media screen and (max-width: 800px) {
   .messageForm {
       width: 100%; 
       padding: 1rem;
       padding-top: 3rem; 
   }
}

 