.nav {
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: var(--z-index-higher) !important;
}

.expanded {
  height: var(--nav-height-expanded) !important;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.links li {
  list-style-type: none;
  margin: 2rem;
}

.links a {
  background: var(--clr-white);
  color: var(--clr-grey-1);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  padding: 0.75rem 0;
}

.links a:hover {
  color: var(--clr-grey-1);
}

.link-selected {
  color: var(--clr-red-dark) !important;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}

.auth button {
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
}

.sign-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-out p {
  display: none;
}

.sign-out:hover p {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container {
    height: 100%;
  }

  .links {
    display: flex;
  }

  .auth button {
    font-size: 0.875rem;
    letter-spacing: var(--spacing);
  }
}

@media screen and (min-width: 1023px) {
}
