.inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .inputs input,
  .inputs select {
    border: 1px solid var(--clr-grey-5);
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border-radius: .5rem;
  }
  
  .inputs p {
    color: var(--clr-red-light);
  }
  
  .field {
    max-width: 35rem; 
    display: flex;
    flex-direction: column;
  }

  .field:not(:first-child) {
     margin-top: 1rem; 
  }

  .field label {
     color: var(--clr-red-light);
  }
  
  .buttons {
     margin-top: 2rem; 
     display: flex; 
     justify-content: flex-end;
     align-items: center; 
  }

  .buttons button {
    display: block;
    text-align: center;
    background-color: var(--clr-red-light);
    color: var(--clr-white);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none; 
    width: 8rem;
    margin-left: 2rem;
  }
  
  .phoneInput {
     display: flex; 
     flex-direction: row;
     justify-content: flex-start; 
  }

   .phoneInput .countryCode {
     width: 4rem; 
     text-align: center;
   }
   .phoneInput .phoneNumber {
     flex: 1;
     margin-left: 1rem;  
  }

  
  
  @media screen and (max-width: 800px) {
     .inputs {
        width: 98%;
      }
  }
  
