.page {
    margin-top: 4rem; 
    padding-top: 2rem; 
    background-color: #fff;
    min-height: 100vh;
}

.page h2 {
    word-spacing: 1rem;
}

.container {
     display: flex;
     flex-direction: row; 
     padding: 0 2rem; 
    
}

.pic {
     padding: 0 2rem;
     flex: .75;
}

.group {
   border: none;
   padding: 1rem; 
   border-radius: .3rem ;   
   margin-bottom: 2rem;
   background-color: var(--clr-grey-10);
}

.group1 {
    border: none;
    padding: 1rem; 
    border-radius: .3rem ;   
    margin-bottom: 2rem;
    background-color: var(--clr-grey-10);
}
.content {
   flex:1;
   padding: 1rem; 
}

.content p {
    margin-bottom: 1.5rem; 
    list-style: 145%;
    text-align: justify;
}

.yourself {
    margin-bottom: 0rem !important; 
}

.content ul {
     margin-left: 1.5rem; 
}


@media screen and (max-width: 800px) {
 
    .page h2 {
        word-spacing: .5rem !important;
        letter-spacing: 0.05rem;
    }

    .pic {
        padding: 0rem;
        flex: 1; 
    }


    .container {
       flex-direction: column; 
       padding: 0 1rem;  
    }
    .content {      
        padding: 0rem; 
       
     }    
}


@media screen and (min-width: 1200px) {
 
    .page{
       padding-left: 10%; 
       padding-right: 10%;
    }
}