.page {
  margin-top: 4rem;
  padding-top: 2rem; 
  background-color: #fff;
  min-height: 100vh;
}

.container {
   display: flex; 
}
.pic {
   width: 35rem;
}

.loading {
   text-align: center; 
   font-size: 1.2rem;
}

.content {
   flex:1; 
   display: flex; 
   justify-content: start; 
   flex-direction: column;
   padding-top: 1.5rem;  
}

.category{
   border: 1px solid var(--clr-grey-9);  
   padding: 1rem;
   margin-right: 3rem; 
   background-color: var(--clr-grey-10); 
}

.current {
  background-color: var(--clr-white); 
}

.course {
   margin-bottom: 1rem;    
   color: var(--clr-red-dark);
}
.courses {
   margin-top: 2rem; 
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.category-name {
   margin-bottom: 0; 
   cursor: pointer; 
   font-weight:400; 
   font-size: 1.2rem; 
}

.category:first-child {
   border-bottom: none; 
}

.course {
   display: flex; 
   align-items: center;
}

.notes { 
   margin-top: 1rem; 
   padding: 1rem; 
   background-color: var(--clr-yellow);
   margin-right: 3rem; 
}

@media screen and (max-width: 800px) {
 
  .container {
     flex-direction: column;  
  }
  
  .pic {
     display: none; 
  }
  
  .notes,
  .category{
    margin-right: 0rem; 
 }
}

@media screen and (min-width: 1200px) {
   .page{
      padding-left: 10%; 
      padding-right: 10%;
   }
}
