.page {
   margin-top: 4rem;
   min-height: 100vh;
   padding-left: 2rem;
   background: linear-gradient(rgba(222, 84, 108, 0.5), rgba(0, 0, 0, 0.8)),
      url(../public/static/hero.jpg) center/cover;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.mission {
   width: 40rem;
   margin-top: 4rem;
   min-height: 100vh;
   display: flex;
}


.mission h3 {
   color: var(--clr-white);
   line-height: 145%;
}

.form-container {
   flex: 1;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.loading {
   color: var(--clr-white);
   font-size: 1rem;
   margin-top: 4rem;
}

.form {
   font-size: 1.3rem;
}

.form .contact {
   margin-top: 4rem;
}

.form h4 {
   color: var(--clr-white);
}

.field {
   margin-right: 5rem;
   margin-top: 1.5rem;
}

.field input,
.field textarea {
   padding: .5rem;
   border-radius: .2rem;
   border: none;
   outline: none;
}

.submit {
   width: 6rem;
   padding: .5rem;
   border-radius: .2rem;
   border: none;
   background-color: var(--clr-red-light);
   color: var(--clr-white);
   cursor: pointer;

}

@media screen and (max-width: 800px) {
   .page {
      flex-direction: column;
      justify-content: flex-start;
   }

   .form-container {
      display: block;
   }

   .mission {
      width: 100%;
      min-height: 20vh;
      justify-content: center;
   }

   .field:first-child {
      margin-top: 0rem;
   }

   .field {
      margin-top: 2rem;
      margin-right: 2rem; 
 
   }

   .field input {
      width: 100%;
      font-size: 1.2rem; 
   }

   .field textarea {
       font-size: 1.2rem; 
       width: 100%; 
   }
   .field button  {
      font-size: 1.2rem; 
   }

}