.page {
   margin-top: 4rem;
   min-height: 100vh;
   padding-left: 2rem;
   background: linear-gradient(rgba(0, 98, 155, 0.8), rgba(0, 0, 0, 0.8)),
      url(../public/static/welcome.jpg) center/cover; 
   padding-bottom: 2rem; 

   display: flex; 
   align-items: center; 
   justify-content: center; 
}
 
.container {
    font-size: 1.5rem;
    color: var(--clr-white-smoke);
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


@media screen and (max-width: 800px) {
   .page {
      flex-direction: column;
      justify-content: flex-start;
   }
}