.page {
    margin-top: 4rem; 
    padding-top: 2rem; 
    background-color: var(--clr-blue-light);
    min-height: 100vh;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 60rem; 
    margin: 0 auto;
    background-color: var(--clr-white-smoke);
    border-radius: .3rem; 
    padding: 2rem; 
}

.link { 
   color:  var(--clr-blue-dark);
   margin: 1rem; 
}


@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        width: 90%; 
    }
    .link {
         text-align: center; 
    }
}

