.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  position: absolute;
  top: 3rem;
  left: 8rem;
}

.logo-link {
  display: flex;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
  color: var(--clr-white);
  margin-bottom: 1rem /* 16px */;
}

.logo-wrapper {
  color: var(--clr-primary-3);
  width: 8rem /* 128px */;
}

.main {
  background-color: var(--clr-white);
  padding: 2rem;
  min-height: 24rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: var(--radius);
}

.title {
  font-size: 2rem;
  color: var(--clr-red-light);
}

.txt-email {
  background-color: var(--clr-white);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: 25rem;
  outline: none;
  border: 1px solid var(--clr-grey-5);
}

.btn-sign-in {
  display: block;
  text-align: center;
  background-color: var(--clr-red-light);
  color: var(--clr-white);
  width: 25rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none; 
  cursor: pointer;
}

.sign-up {
  margin-top: 1rem;
  width: 100%;
  padding-left: 0.5rem;
 
}
.sign-up p {
  text-align: left;
 
}

.main p {
  align-self: flex-start;
  margin-left: 1rem;
  color: var(--clr-grey-1);
}
.sign-up a {
  margin-left: 2rem;
  color: var(--clr-grey-1);
  font-weight: 600; 
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  
  .header {
    top:1rem; 
    left: 50%;
    transform: translateX(-50%);
 }
}
   