.page {
	margin-top: 4rem;
	padding-top: 2rem;
	background-color: var(--clr-blue-light);
	min-height: 100vh;
}


.title {
	margin-bottom: 2rem;
}

.title h2 {
	text-transform: uppercase;
	color: var(--clr-white-smoke);
	font-size: 1.8rem;
	text-align: center;
	word-spacing: 0.2rem;
	letter-spacing: .1rem;
	font-weight: 400;
}

.title h2:after {
	display: block;
	height: 0.2rem;
	background-color: var(--clr-red);
	content: ' ';
	width: 10rem;
	margin: 0 auto;
	margin-top: 2rem;
}

.container {
	max-width: 50rem;
	margin: 0 auto;
	padding-bottom: 2rem;
}

.testimonials {
	text-align: justify;
}

.blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 4rem;
	text-align: justify;
	color: var(--clr-grey);
	background-color: var(--clr-white-smoke);
	border-radius: .3rem; 
}

.cite {
	display: block;
	margin-top: 1rem;
	font-size: .8rem;
	font-weight: 500;
}


@media screen and (max-width: 800px) {

	.container {
		margin: 0 1rem;
	}

}